[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
eth-keys = "*"
"web3" = "*"
#"secp256k1" = "*"
#pem = "*"
#ecdsa = "*"

[dev-packages]

[requires]
python_version = "3.7"
